body {
    height: 200vh;
    font-family: Arial, Helvetica, sans-serif;
    background: #BFD5F5;
  }


  #mesthead {
    position: relative;
    left: 35%;
    font-family: Helvetica-neue, sans-serif;
    font-weight: bold;
    font-size: 70px;
    color: #277CEE; 
  }  

  #pic1 {
    max-width: 100%;
    max-height: 100%;
    filter: blur(8px);
    animation-duration: 3s;
    animation-name: slide-in;
    z-index: 0;
    /*
    transition-duration:10s;
    -webkit-transition-duration:10s;
    width: 90%;
    height: 90%;
    height: 2vh;
    /*rotate: 270deg;*/
  }


  #pic2 {
    position: absolute;
    top: 100 px;
    left: 200 px;
    max-width: 70%;
    max-height: 70%;
    z-index: 1;
    /*
    transition-duration:10s;
    -webkit-transition-duration:10s;
    width: 90%;
    height: 90%;
    height: 2vh;
    /*rotate: 270deg;*/
  }

  #pic1.blur {
	filter: blur(0px);
}

#pic2.gone {
    position: aboslute;
    top: -100vh;
}



#pic3 {
    max-width: 100%;
    max-height: 100%;
    animation-duration: 3s;
    animation-name: slide-in;
    z-index: 0;
    /*
    transition-duration:10s;
    -webkit-transition-duration:10s;
    width: 90%;
    height: 90%;
    height: 2vh;
    /*rotate: 270deg;*/
  }


  #pic4 {
    position: absolute;
    top: 120 vh;
    left: 20 vw;
    max-width: 70%;
    max-height: 70%;
    z-index: 1;
    /*
    transition-duration:10s;
    -webkit-transition-duration:10s;
    width: 90%;
    height: 90%;
    height: 2vh;
    /*rotate: 270deg;*/
  }


  #pic3.zoom {
    max-width: 150%;
    max-height: 150%;
}

#pic4.gone {
    position: aboslute;
    top: -100vh;
}
